body.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-main-container {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-bar-items {
    font-size: 12px;
    padding-left: 25px;
    padding-right: 15px;
}


a {
    color: black;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.login-box {
    border: solid;
    background-color: #CCCCCC;
    max-width: 70px;
    text-align: center;
    border-radius: 4px;
    margin-top: -1px;
    color:white;
    padding: 8px;
}

.main-logo {
    margin-top: 25px;
    border-radius: 1px;
}

.contact-main-container {
    margin-top: 15px;
    padding-left: 35px;
}

.left-container {
    color:white;
    background-color: #7E2F2B;
    padding: 10px 20px 50px 20px; 
}

h4 {
    font-weight: lighter;
}

#left-contact-image {
    margin-bottom: 10px;
    width: 100%;
}

.middle-container {
    background-color: aqua;
}

.right-container {
    background-color: black;
}