body.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-main-container {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-bar-items {
    font-size: 14px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 8px;
    margin-bottom: 10px;
}


a {
    color: black;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.login-box {
    border: solid;
    background-color: #CCCCCC;
    max-width: 70px;
    text-align: center;
    border-radius: 4px;
    margin-top: -1px;
    color:white;
    padding: 8px;
}

.main-logo {
    margin-top: 25px;
    border-radius: 1px;
}

.contact-main-container {
    margin-top: 15px;
    padding-left: 35px;
}

.left-container {
    color:white;
    background-color: #7E2F2B;
    padding: 20px; 
    max-width: 25%;
    max-height: 430px;
}

h4 {
    font-weight: lighter;
}

#left-contact-image {
    margin-bottom: 10px;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
}

.middle-image-container {
    padding: 4px;
    border-style: solid;
    margin-bottom: 40px;
    border-width: 2px;
}

.middle-container {
    background-color:white;
    max-width: 45%;
    margin-left: 25px;
    margin-right: 10px;
    padding-right: 7px;
}

.middleimage {
    padding: 2px;
    border-color: black;
    border-style:solid;
    border-width: 1.5px;
    max-width: 100%;
    height: 150px;
}

.right-container {
    padding: 17px 15px 30px 15px;
    background-color: #D7CEC5;
    max-width: 24%;
}

.right-top-image {
    border-style:solid;
    border-width: 1.5px;
    margin-bottom: 10px;
    width: 100%;
}

.right-bottom-image {
    border-style:solid;
    border-width: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.bot-nav-items {
    font-size: smaller;
    padding-right: 37px;
    display:inline;
}

.footer-container {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}

.footer-links {
    text-align: center;
}	
