body.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    background-image: url("/static/images/background-pic.jpg");
}

.header-main-container {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-bar-items {
    font-size: 14px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 8px;
    margin-bottom: 10px;
}


a {
    color: black;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.login-box {
    border: solid;
    background-color: #CCCCCC;
    max-width: 70px;
    text-align: center;
    border-radius: 4px;
    margin-top: 0px;
    color:white;
    padding: 8px;
}

.main-logo {
    margin-top: 25px;
    border-radius: 1px;
}

.contact-main-container {
    margin-top: 15px;
    padding-left: 35px;
}


.left-side {
    float: left;
    max-width: 70%;
    margin-left: 20px;
    margin-right: 40px;
    padding: 4px;
    border-style: solid;
    border-width: 1.5px;
}

.image1 {
    padding: 2px;
    border-style: solid;
    border-width: 1px;
}

.left-side2 {
    float: left;
    max-width: 70%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}


.right-side {
    float: left;
    max-width: 20%;
    color:white;
    background-color: #7E2F2B;
    max-height: 50%;
    padding: 20px 10px 33px 10px;
}

.right-side2 {
    float: left;
    max-width: 20%;
    max-height: 30px;
    max-height: 70%;
    padding: 20px 10px 50px 10px;
}


.bot-nav-items {
    font-size: smaller;
    padding-right: 37px;
    display:inline;
}

.footer-container {
    margin-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.footer-links {
    text-align: center;
}	
