body.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-main-container {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-bar-items {
    font-size: 12px;
    padding-left: 25px;
    padding-right: 15px;
}


.border-left-ovr {
    border-left-style: solid;
}

.header-font {
    font-size: 20px;
    font-weight: light;
}

a {
    color: black;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.login-box {
    border: solid;
    background-color: #CCCCCC;
    max-width: 70px;
    text-align: center;
    border-radius: 4px;
    margin-top: -1px;
    color:white;
    padding: 8px;
}

.main-logo {
    margin-top: 25px;
    border-radius: 1px;
}


